
.heading-text {
    position: absolute;
    width: 703px;
    height: 134px;
    left: 61px;
    top: 293px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 112%;
    text-transform: uppercase;
    color: #FFFFFF;
}

#qtag {
    position: absolute;
    width: 786px;
    height: 32px;
    left: 61px;
    top: 520px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
}

#helo {
    position: absolute;
    width: 527px;
    height: 58px;
    left: 61px;
    top: 577px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-transform: capitalize;

    color: #FFFFFF;
}

#tg-shape-btn {
    position: relative;
    width: 160px;
    height: 30px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(255, 0, 299) 0%, rgba(232, 20, 230) 35%, rgba(98, 135, 235) 100%);
}

.tg-img-svg{
    position: absolute;
    margin-left: -24px;
    width: 34%;
}

#big-tg-shape-btn{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    margin-top: 18px;
    background: linear-gradient(90deg, rgba(255, 0, 299) 0%, rgba(232, 20, 230) 35%, rgba(98, 135, 235) 100%);
}

#tg-text{
    position: absolute;
    color: #FFFFFF;
    padding-left: 40%;
}

#tg-shape-img{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 36%;
}

#telegram-image {
    width: 35px;
    height: 50px;
}

#tg-text-image-merge{
    padding-top: 15px;
}

.second-row{
    background: linear-gradient(185deg, rgba(5, 5, 5) 12%, rgba(38, 5, 38) 50%);
}

.third-row{
    background: rgba(38, 5, 38)
}

.subscription-card{
    position: relative;
    background: #160516;
    /* padding-left: 50px; */
    padding-top: 35px;
}

.subscription-card-text{
    color: #FFFFFF;
    
}

.subscription-card-text-description{
    color: #FFFFFF;
    font-size: 14px;
}

.subscribtion-getstarted{
    margin-left: 20%;
    padding-bottom: 5%;

}


.first-right-side{
    position: relative;
    top: 10px;
}

#background-gradient-img{
    position: absolute;
    right: 10px;
    width: 100%;
}

#background-img{
    width: 100%;
}