/* CSS Reset */
* {
    margin: 0;
    padding: 0;

}

ul{
    list-style-type: none;
}

body {
    background-color: black;
    font-family: 'Poppins';
    font-size: 60px;


}

.navbar{
    height: 100%;
    width: 100%;
    color: #ffff;
}

.navbar-text {
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    color: #fff;
    background-color: #FF00E5;
    border-color: #FF00E5;
    border-radius: 30px;
    width: auto;
}

.text-content{
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    color: #FFFF;
}

.text-content-heading{
    font-weight: 500;
    line-height: 35px;
    font-size: 25px;
    color: #FFFF;
}

.main-title{
    font-weight: 1000;
    line-height: 49.28px;
    font-size: 44px;
    color: #FF00E5;
}

/* 
.btn-primary:hover {
    color: #fff;
    background-color: #FF00E5;
    border-color: #FF00E5;
    border-radius: 30px;
} */
/* 
.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
  } */

