/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Poppins';
    font-size: 60px;
}

.navbar{
    height: 100%;
    width: 100%;
    color: #ffff;
}
.navbar-text{
    color:#FFFFFF;
    text-decoration: none;
}

.button {
    color: #fff;
    background-color: #FF00E5;
    border-color: #FF00E5;
    border-radius: 30px;
    width: auto;
}

/* 
.btn-primary:hover {
    color: #fff;
    background-color: #FF00E5;
    border-color: #FF00E5;
    border-radius: 30px;
} */

.heading-text {
    position: absolute;
    width: 703px;
    height: 134px;
    left: 61px;
    top: 293px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 112%;
    text-transform: uppercase;
    color: #FFFFFF;
}

#subheading-text {
    color: #FF00E5;
}

#qtag {
    position: absolute;
    width: 786px;
    height: 32px;
    left: 61px;
    top: 520px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
}

#helo {
    position: absolute;
    width: 527px;
    height: 58px;
    left: 61px;
    top: 577px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-transform: capitalize;

    color: #FFFFFF;
}


.tg-shape{
    position: absolute;
    width: 786px;
    height: 32px;
    left: 61px;
    top: 680px;
    
    }
    
#tg-shape-btn{
    position: absolute;
    width: 160px;
    height: 30px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(255,0,299) 0%, rgba(232,20,230) 35%, rgba(98,135,235) 100%);
    }

#telegram-image{
    position: absolute;
    width: 35px;
    height: 50px;
    z-index: 1;
    bottom: -10px;
    }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
  }
